/* Media Query para Tablets */
@media (max-width: 768px) {


    .columnAboutMe {
        flex: 1 0 100%;
        /* Cambia a una columna */
    }

    .btn-home,
    .btn-aboutMe,
    .btn-skill,
    .btn-curriculum {
        font-size: 16px;
        /* Reduce el tamaño del texto */
        padding: 8px 16px;
        /* Ajusta el relleno */
    }

    .blob-image{
        width: 90%;
        /* Ajusta el ancho de las imágenes */
        height: auto;
        /* Mantiene la proporción de las imágenes */
    }
}

/* Media Query para Móviles */
@media (max-width: 480px) {


    .homeTitulo{
        margin-top: 250px;
    }


    .homeTitulo,
    .titleProject {
        font-size: 100%;
        /* Reduce el tamaño del título */
    }

    .blob-image {
        width: 40%;
        /* Ajusta el ancho de la imagen al 40% */
        height: auto;
        /* Mantiene la proporción de la imagen */
        margin: 0 auto;
        /* Centra la imagen horizontalmente */
    }

    .columnAboutMe2 {
        font-size: 12px;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 20px;
    }

    .mainColumnAboutMe.show {
        height: 250px;
    }


    .titleProject {
        font-size: 130%;
    }
    

    section.projects {
        overflow: hidden;
        background-color: #151515;
        color: #fff;
        height: 690vh;
        text-align: center;
        font-size: 120%;
        margin-bottom: 10%;
      }

    .mainColumnProjects {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 100px;
        margin-bottom: 100px;
      }
    
      .columnProjects {
        padding-bottom: 10px;
        flex-direction: column;
        width: 100%;
        max-width: 90%;
      }
    
      .columnProjects img {
        max-width: 70%;
        height: auto;
      }


    .circle {
        height: 0px;
        width: 0px;
      }

      .fixed-arrow {
        display: none;
      }

      .carousel-cards {
        flex-direction: column;
        align-items: center;
      }
    
      .card {
        flex: 0 0 80%; /* Adjust card size for mobile view */
        height: auto; /* Allow height to adjust based on content */
      }
    
      .prev,
      .next {
        display: none; /* Hide navigation buttons on mobile */
      }

      section.skillContainer {
        overflow: hidden;
        height: 400vh;
        background-color: #151515;
        color: #ffffff;
        margin-bottom: 10%;
      }

      .resumeContainer {
        margin-top: 1%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: auto;
        border-radius: 20px;
        background: #151515;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(0%);
        transition: all 3.5s;
        overflow: hidden;
      }


}
